body {
    padding:0;
    margin: 0;
    text-align: center;
    font-family:'roboto', arial;

}

.container {
    display:flex;
    flex-direction: column;
}

/*Navbar*/

.header-links {
   display:flex;
  margin-left: auto;
   gap: 8px;
   padding: 0px 100px 0px 0px;

}

.navbar { 
    background-color: #1f2937;
    display:flex;
    padding:20px 0px 20px 100px;
    align-items: center;

}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'roboto', arial;
    padding:10px;
    
}

.header-logo img {
    width: 110px;
    height:104px;
    margin-right: auto;
}

/*intro*/

.intro {
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #1f2937;
    padding: 90px;

}

.text {
    display:flex;
    flex-basis: 400px;
    flex-direction:column;
    text-align: left;
    margin-right: 50px;
    
    

}

h1 {
    color:#f9faf8;
    font-size:48px;
    font-weight:bolder;
    font-family: 'roboto', arial;
    margin: 0;
}

.text p {
    color:#e5e7eb;
    font-size:18px;
    font-family:'roboto', arial;

}

.text button {
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    flex:0 1 auto;
    width: 100px;
    height: 30px;
    color:#f9faf8;
    font-weight: bold;
    padding-bottom: 2px;
    
}

.intro-image img {
    width:500px;
    height:350px


}

/*Content*/

.content-info img {
    width:200px;
    height:200px;
    object-fit:cover;
    border: 4px solid #3882f6;
    border-radius: 15px;
    gap: 16px;
}

.content {
    align-items:center

}

.content-info {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    
    
}

/*Quote*/

.quote {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'roboto', arial;
}

.quote b {
    padding-bottom:20px;
    padding-right: 10px;
    font-family: 'roboto', arial;
    text-align: right;
}

/*Sign up*/
.sign-up {
    background-color:#3882f6;
    margin: 50px 200px;
    padding: 10px
}



  
    

